<div class="card-product task-item" data-task-id="<%= task.id %>">
  <% if task.completed %>
    <i class="far fa-check-square"></i>
    <p class="finished-at">completed <%= time_ago_in_words(task.completed_at) %> ago</p>
  <% else %>
    <i class="far fa-square"></i>
    <%= link_to "Complete", mark_task_path(task), class: "complete_task_button btn btn-primary", method: :patch, remote: true %>
  <% end %>
  <div class="card-product-infos">
    <h2><%= task.action %></h2>
    <p>Created this task on <strong><%= task.created_at.to_formatted_s(:long_ordinal) %></strong>.</p>
  </div>
</div>
