<div class="container">
  <h1 class="text-center">Welcome to the Taco task manager 🌮</h1>
  <div class="row">
    <div class="col-6">
    <h4>All the tasks</h3>
      <%= render @uncompleted_tasks %>
    <hr>
    <h4>Completed tasks</h4>
      <%= render @completed_tasks %>
    </div>
    <div class="col-6">
      <h4>Create a new task!</h3>
      <%= simple_form_for @task do |f| %>
        <%= f.input :action %>
        <%= f.submit "Create task", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
